body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.card h2 {
  margin: 0;
  font-size: 36px;
  color: #333;
}